.heading
{
    background-color: rgb(53, 153, 199);
    height: 3rem;
    border-top: 2rem;
    border-radius: 5px;
}
h3{
    text-align: right;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(236, 221, 50, 0.929);
}
body{
   background-color: rgb(215, 248, 250);
}
#add
{ 
    color: rgba(16, 70, 14, 0.877);
    width: 3rem;
    height: 2rem;
    border-radius: 60px;
    border: none;
    background-color:lightseagreen;
  
    
}
#add:hover{
    background-color: green;
    color: rgb(214, 219, 85);
}
.learn-more
{
    left: 90rem;
}
.note
{
    border-radius: 10px;
    width: 15.2em;
    height: 13.12rem;
    background-color:whitesmoke;
    margin-right: 120px;
    border: none;
    
}
.edit
{
    position: relative;
    left: 13rem;
    color: green;
    border-radius: 50px;
    border: none;
}
.delete
{
    position:relative;
    bottom:0rem;
    left:9rem;
    border-radius: 50px;
    border: none;
    color: red;
}
.delete:hover
{
    color: whitesmoke;
    background-color: rgb(86, 10, 10);
}
.edit:hover
{
    color: whitesmoke;
    background-color: green;
    
}
.hidden
{
    display: none;
}
textarea{
    border: none;
    border-radius: 10px;
    flex: auto;
}
.footer {
    text-align: center;
  
     font-size: larger;
    font-family: cursive;
    color: rgba(188, 197, 33, 0.97);
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(71, 156, 146);
  }
